*{
    font-family: sans-serif;
}
.container{
    text-align: center;
}
table{
    display: block;
    position: fixed;
    left: 20px;
    top: 80px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
#number-gen-container{
    border:1px solid #888;
    display: block;
    position: fixed;
    left: 800px;
    right: 40px;
    top: 105px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFF;
}
#previous-num-container{
    border:1px solid #888;
    display: block;
    position: fixed;
    left: 800px;
    right: 40px;
    top: 355px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFF;
}
#refresh-reload-container{
    border:1px solid #888;
    display: block;
    position: fixed;
    left: 800px;
    right: 40px;
    top: 550px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFF;
}
.numbox{
    font-size: 35px;
    text-align: center;
    color: blue;
    font-weight: bold;
    display: inline-block;
    background-color: #EEE;
    padding: 20px;
    border-radius: 8px;
    border:1px solid #EEE;
}
td{
    padding: 20px;
    margin: 30px;
    border:3px solid rgb(255, 255, 255);
    background-color: #EEE;
}
.button-box{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #539674;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border:1px solid #8acbf7;
    border-radius: 5px;
}
@media (max-width: 479px) {
    
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #refresh-reload-container{
        border:1px solid #888;
        display: block;
        position: fixed;
        left: 800px;
        right: 40px;
        top: 550px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        background-color: #FFF;
    }
    #number-gen-container{
        border:1px solid #888;
        display: block;
        position: fixed;
        left: 800px;
        right: 40px;
        top: 105px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        background-color: #FFF;
    }
    #previous-num-container{
        border:1px solid #888;
        display: block;
        position: fixed;
        left: 800px;
        right: 40px;
        top: 355px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        background-color: #FFF;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    #number-gen-container{
        border:1px solid #888;
        display: block;
        position: fixed;
        left: 1150px;
        right: 40px;
        top: 105px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        background-color: #FFF;
    }
    #previous-num-container{
        border:1px solid #888;
        display: block;
        position: fixed;
        left: 1150px;
        right: 40px;
        top: 342px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        background-color: #FFF;
    }
    #refresh-reload-container{
        border:1px solid #888;
        display: block;
        position: fixed;
        left: 1150px;
        right: 40px;
        top: 550px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        background-color: #FFF;
    }
}